.answer-container.bubble-top.tab-pane{id: "#{last_name_from_answer(candidate_answer).downcase}", class: (index==0) ? "active bubble#{index}" : "bubble#{index}"}
  %p{class: "#{last_name_from_answer(candidate_answer).downcase}"}
    %strong= "#{candidate_answer.candidate_name}:"
    = candidate_answer.body
  = facebook_button(candidate_answer)
  = link_to "See comments", answer_path(candidate_answer), { class: "pull-right comments" }
  %br/
