%p
  %b Great question. So great you should probably share it...
.question-flash-share
  - share_link = CGI.escape(question_url(@question))
  / = link_to "https://www.facebook.com/sharer/sharer.php?u=#{share_link}", class: 'btn btn-primary btn-facebook btn-lg login-social-btn', target: '_blank' do
  = link_to "https://www.facebook.com/dialog/share?app_id=#{ENV['FACEBOOK_API_KEY']}&display=popup&href=#{share_link}&redirect_uri=#{share_link}", target: '_blank', class: 'btn btn-primary btn-facebook btn-lg login-social-btn' do
    .fa.fa-facebook.login-social-icon.fa-fw
    Share
  = link_to "https://twitter.com/share?url=#{share_link}", class: 'btn btn-info btn-lg login-social-btn', target: '_blank' do
    .fa.fa-twitter.login-social-icon.fa-fw
    Tweet
