<div class="container">
  <div class="placeholder"></div>
  <h2 id="ask">Ask a new question</h2><br>

  <%= form_for(@question) do |f| %>
    <div class="row-fluid">
      <div class="span5">
        <% if @question.errors.any? %>
          <div id="error_explanation" class="alert">
            <p><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</p>

            <ul>
            <% @question.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <fieldset>

          <%= f.text_area :body, rows: 5, placeholder: "What would you like to ask the mayoral candidates?", maxlength: 140 %>
          <span id="js-body-count"></span>
          <br>
          <label><h5>Name</h5></label>
          <%= f.text_field :name, id: "inputName" %>
          <br>
          <label><h5>Email</h5></label>
          <%= f.email_field :email, id: "inputEmail" %>
          <br><br>
          <label class="checkbox">
            <%= f.check_box :is_anonymous %> Want your question to appear anonymous?
          </label><br>
        </fieldset>
      <%= f.submit "Ask", class: "btn btn-ask btn-large span5", "data" => { "disable-with" => "Ask" } %> <br><br>
    </div>
          <div class="grey light span5">
        <p id="encouragement">Go ahead and ask, there are no right or wrong questions, and you might find that everyone else is wondering the same thing!</p><br>
      </div>
    </div>
     <%= link_to "Back to the questions", questions_path, role: "button", class: "btn" %>
     <div class="placeholder"></div>

    <!-- <button type="submit" class="btn btn-ask btn-large" href="#thanks-modal" role="button" class="btn btn-ask btn-large" data-toggle="modal">Ask</button> -->
  <% end %>
</div>

