.row
  .col-question-list.col-xs-12.col-md-8.col-md-offset-2.font-small
    -# %h3.page-heading= heading
    %ul.list-group.question-list(ng-controller='QuestionsCtrl' infinite-scroll="loadQuestions()" infinite-scroll-disabled="loadingQuestions")

      %li.question.question-filters.list-group-item.row.row-no-gutter
        = render 'question_filters'

      %li.question.list-group-item.list-group-item-clickable(ng-repeat="question in questionList" id="question-{{question.id}}" ng-class="{'question-expanded': question.expanded}" ng-click="toggleQuestion($event)")
        .row
          .col-xs-2.col-sm-2
            = render 'question_up_vote'
          .col-xs-10.col-sm-10.question-col-main
            .row
              .col-xs-12= render 'question_body'
            .row.question-asker-row
              .col-xs-12= render 'asker'
            .row(ng-controller='AnswerFormCtrl' ng-show="question.can_answer && question.expanded")
              .col-xs-1
                %img.media-object.comment-avatar{src: current_user.try(:gravatar_url) }
              %form.col-xs-11(ng-submit="addAnswer()")
                .form-group
                  %textarea.form-control.required(ng-model="question.answerText" placeholder='Write your answer...')
                  %charcounter(for_model="question.answerText" maxlength="350")
                %input.btn.btn-primary(type="submit" ng-disabled="!question.answerText")
            .row
              .col-xs-12= render 'answers'
    .text-center(ng-show="loadingQuestions")
      Loading more...
