- hide_filters ||= false

%script#question-data(type="application/json")
  =render(:template => "questions/index.json").html_safe
.row
  .questions.col-question-list.col-xs-12.col-md-8.col-md-offset-2.font-small
    /= render 'welcome_banner'
    -# %h3.page-heading= heading
    %ul.list-group.question-list(ng-controller='QuestionsCtrl' infinite-scroll="loadQuestions()" infinite-scroll-disabled="loadingQuestions")

      - unless hide_filters
        %li.question.question-filters.list-group-item.row.row-no-gutter
          = render 'questions/question_filters'

      %li.question.list-group-item.list-group-item-clickable(ng-repeat="question in questionList" id="question-{{question.id}}" ng-class="{'question-expanded': question.expanded}" ng-click="toggleQuestion($event)" ng-cloak='')
        .row
          .col-xs-2.col-sm-2
            = render 'questions/question_up_vote'
          .col-xs-10.col-sm-10.question-col-main
            .row
              .col-xs-12= render 'questions/question_body'
            .row.question-asker-row
              .col-xs-12= render 'questions/asker'
            .row
              .col-xs-12= render 'questions/answers'
      -# This ain't workin so I've commented it out for now - JL
      -# %li.list-group-item.loading-spinner.questions-loading-spinner(ng-show="loadingQuestions")
      -#   = image_tag "ajax-loader.gif"
