.list-q
  %a{:href => question_path(question)}
    %h3= question.body
    .light.CTA-vote
      %span.vote-count.label.label-info #{question.vote_count} votes
      =link_to "Vote for this question", vote_for_question_path(question), :class => "btn", :data => { :action => "vote" }

    .row-fluid#answered-by
      %p.muted.span4= asked_by(question)
      .comment-count
        -comments_count = question.comments_count
        - if comments_count == 0
          Comment on this question
        -else
          = pluralize( comments_count, 'comment')

    -unless question.answers_count == 0
      .row-fluid
        %p Answered by:
        .span8
          .row-fluid
            -question.answers.shuffled.each do |answer|
              .profile-pic.span2
                = image_tag answer.candidate_avatar
