.list-q
  %a{:href => question_path(question)}
    %h3= question.body
    .light.CTA-vote
      = facebook_button(question)
      - if queation.answers_count < 6
        Vote for this question by liking it

    .row-fluid#answered-by
      %p.muted.span4= asked_by(question)
      .comment-count
        -comments_count = question.comments_count
        - if comments_count == 0
          Comment on this question
        -else
          = pluralize( comments_count, 'comment')

    -unless question.answers_count == 0
      .row-fluid
        %p Answered by:
        .span8
          .row-fluid
            -question.answers.shuffled.each do |answer|
              .profile-pic.span2
                = image_tag answer.candidate_avatar
