<div class="list-q">
  <a href="<%= question_path(question)%>">
    <h3><%= question.body %></h3>
    <div class="row-fluid" id="answered-by">
      <p class="muted"><%= asked_by(question) %></p>
      <div class="light span7 CTA-vote">
        <%= facebook_button(question) %>
        Vote for this question by liking it
      </div>
    </div>
    <% unless question.answers_count == 0 %>
      <div class="row-fluid">
        <p>Answered yesterday by:</p>
        <div class="span8">
          <div class="row-fluid">
              <% question.answers.each do |answer| %>
                <div class="profile-pic span2">
                  <%= image_tag answer.candidate_avatar %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </a>
</div>