- hide_filters ||= false
.row
  .col-question-list.col-xs-12.col-md-8.col-md-offset-2.font-small
    .welcome-banner
      .img-responsive.logo-full
        =image_tag "white-logo.svg"
      %div
        %h1 Welcome to Ask Away
        %h3 Where you can ask the parties your questions this election
        %button.btn.btn-primary{"data-target" => "#HowItWorks", "data-toggle" => "modal"}
          How does it work?
    -# %h3.page-heading= heading
    %ul.list-group.question-list(ng-controller='QuestionsCtrl' infinite-scroll="loadQuestions()" infinite-scroll-disabled="loadingQuestions")

      - unless hide_filters
        %li.question.question-filters.list-group-item.row.row-no-gutter
          = render 'questions/question_filters'

      %li.question.list-group-item.list-group-item-clickable(ng-repeat="question in questionList" id="question-{{question.id}}" ng-class="{'question-expanded': question.expanded}" ng-click="toggleQuestion($event)")
        .row
          .col-xs-2.col-sm-2
            = render 'questions/question_up_vote'
          .col-xs-10.col-sm-10.question-col-main
            .row
              .col-xs-12= render 'questions/question_body'
            .row.question-asker-row
              .col-xs-12= render 'questions/asker'
            .row
              .col-xs-12= render 'questions/answers'
    .text-center(ng-show="loadingQuestions")
      Loading more...

.modal.fade#HowItWorks.how-it-works
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
      .modal-body
        .row
          .col-sm-4
            .img-responsive.icon
              =image_tag "ask.svg"
            %p
              1. Ask a question for all the parties to answer. Be nice, then they'll be more likely to answer it!
          .col-sm-4
            .img-responsive.icon
              =image_tag "vote.svg"
            %p
              2. Vote for the questions you think are important. That way, you decide what gets talked about.
          .col-sm-4
            .img-responsive.icon
              =image_tag "answer.svg"
            %p
              3. Spokespeople from the parties will answer the most popular questions each day
      .modal-footer
        = link_to "More about Ask Away", "/about", :class => "pull-left"
        %button.btn.btn-primary{"data-dismiss" => "modal", type: "button"} Got it

