.box-inner
  - if question_header.is_anonymous?
    %h4 Anonymous question for the mayoral candidates:
  - else
    %h4
      = "#{question_header.first_name.titleize}'s question for the mayoral candidates:"
  %h3= question_header.body
  %p.muted= asked_by(question_header)
  .inline-block.light.CTA-vote
    = facebook_button(question_header)
    - if question_header.needs_voting_reminder?
      Vote for this question by liking it
