= content_for :title, "#{@question.body} | Questions for New Zealand's political parties - Ask Away"
= content_for :description, "#{@question.user_name} asked the parties, \"#{@question.body}\" Click to see their answers or ask them your own question."

.row(ng-controller='QuestionCtrl')
  .col-xs-12.col-md-8.col-md-offset-2
    .panel.panel-default.big-top-margin
      .panel-body.question
        .row
          .col-xs-2.col-sm-2
            = render 'question_up_vote'
          .col-xs-10.col-sm-10
            .question-body= @question.body
            .text-detail= asked_by_at_time_ago(@question)

      %ul.list-group
        %li.list-group-item.comment-count= "#{@question.answers_count} ANSWERS"
        - if show_answer_form?
          %li.list-group-item
            %div.media
              %span.pull-left
                %img.media-object.comment-avatar{src: current_user.avatar_url }
              %div.media-body
                = render 'answers/form', question: @question, answer: @new_answer, button_text: 'Post answer'
        - @answers.each do |answer|
          %li.list-group-item
            %div.media.answer
              %span.pull-left
                %img.media-object.comment-avatar{src: answer.rep.user.avatar_url }
              %div.media-body
                .comment-name
                  = link_to(answer.rep.user_name, answer.rep.user)
                  = link_to("(#{answer.rep.party.name})", answer.rep.party)
                  .text-detail.comment-detail
                    = time_ago_in_words(answer.created_at) + ' ago'
                    - if answer.is_edited?
                      ·
                      = link_to 'Edited', history_answer_path(answer)

                .comment-body= simple_format(answer.body)
                - if AnswerPolicy.new(current_user, answer).edit?
                  .answer-footer.text-detail
                    = link_to "Edit", edit_answer_path(answer)
        %li.list-group-item.comment-count= "#{@question.comments_count} COMMENTS"
      .panel-body
        .row.comment-list
          .col-xs-12.comment-input
            - unless current_user.try(:can_answer?, @question)
              - if user_signed_in?
                = render 'comments/form'
              - else
                = link_to 'Log in', new_user_session_path
                to comment

            = render partial: 'comments/item', collection: @comments, as: :comment
