<% content_for :title, "Ask Away - Question for the mayoral candidates" %>
<% content_for :description, @question.body %>
<div class="all-questions-bg tan">
  <div class="placeholder"></div>
  <div class="container container-wide">
    <div class="row-fluid" id="extra-buttons-768">
      <a href="#all-questions-bg" role="button" class="btn btn-primary btn-large">See all the questions</a>
      <a href="#ask-modal" role="button" class="btn btn-ask  btn-large" data-toggle="modal">
        Ask a Question
      </a>
      <a href="#how-it-works-modal" role="button" class="btn btn-large" data-toggle="modal">How it works</a>
    </div>
    <div class="row-fluid">
      <div class="span9">
      <div class="box individual-q">
        <%= render partial: 'questions/question_header', object: @question %>
      </div>
      <div class="light">
        <h4>Answers:</h4>
        <% if @answers.present? %>
          <%= render partial: 'questions/featured_question_tab', object: @question %>
        <% else %>
          <p>None of Wellington's mayoral candidates have answered this question yet. <br><br>If you want it to get answered, like and share the question to show the candidates it's important to you.</p>
        <% end %>
      </div>
      <div class="box-inner">
        <h4>What do you think about this question?</h4>
        <div class="fb-comments row-fluid" data-href="<%= facebook_link(@question) %>" data-width="500"></div>
      </div>
    </div>
    <%= render partial: 'recently_asked_sidebar' %>
  </div>

      <div class="row-fluid">
        <div class="inline-message"><a href="#all-questions-bg" role="button" class="btn btn-primary btn-large">See all the questions</a>  Or, if you've got your own question
          <a href="#ask-modal" role="button" class="btn btn-ask btn-large" data-toggle="modal">Ask a Question</a>
        </div>
      </div>
  </div>
</div>

      

<div id="how-it-works-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header green">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="ask-modalLabel">How it works</h4>
  </div>
  <div class="modal-body">

          <h3>This is an independent platform designed to make it easier for you to get to know the people standing for mayor in Wellington's local body elections.</h3><br>

    <div class="row-fluid box-inner"id="how-it-works">
      <div class="span4">
        <div id="img-q"></div>Anyone can ask a question for the candidates.
      </div>
      <div class="span4">
        <div id="img-qmany"></div>People add their vote to questions by 'liking' them.
      </div>
      <div class="span4">
        <div id="img-a"></div>The top question at the end of each day will get answered by the candidates and shown on the site the next day.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-large" href="about" data-dismiss="modal" aria-hidden="true">Learn more</button>
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Got it</button>
</div>


<!-- Modal -->
<div id="ask-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<%= render partial: 'questions/form' %>
</div>

<!--Thank-you messsage -->


<div id="thanks-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header green">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="ask-modalLabel">Ask a question</h4>
  </div>
  <div class="modal-body">
    <p>Thanks for contributing!<br><br>
  We'll check over your question before we publish it, and won't publish anything offensive or too similar to questions that have already been asked.<br><br>
  Sit tight, and when your question is live on the site we'll send you a link so that you can share it with your family and friends and get them to vote it up.<br><br>
  <div class="modal-footer">
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Close</button>
</div>

  </div>
</div>







