
<div class="all-questions-bg tan">
  <div class="placeholder"></div>
  <div class="container container-wide">
    <div class="row-fluid">
      <div class="box span9 individual-q">
        <h4><%= @question.first_name.titleize %>'s question for the mayoral candidates:</h4>
         <h3><%= @question.body %></h3>
        <p class="muted"><%= asked_by(@question) %></p>
        <div class="box tan inline-block">
          <%= facebook_button(@question) %>
        </div>
        <div class="box palesalmon light">
          <h4>Answers:</h4>
          <% if @answers.present? %>
            <div class='row-fluid'>
              <% @answers.shuffle.each do |answer| %>
                <%= render 'answer', answer: answer %>
              <% end %>
            </div>
          <% else %>
            <p>None of Wellington's mayoral candidates have answered this question yet. <br><br>If you want it to get answered, like and share the question to show the candidates it's important to you.</p>
          <% end %>
          <br><br>
        </div>
          <div>
            <a href="#all-questions-bg" role="button" class="btn btn-primary btn-large">See all the questions</a> or
            <a href="#ask-modal" role="button" class="btn btn-ask  btn-large" data-toggle="modal">
              Ask a Question
            </a>
          </div>
          <br>
          <h4>What do you think about this question?</h4>
          <div class="fb-comments" data-href="<%= facebook_link(@question) %>" data-width="470"></div>
      </div>
      <%= render partial: 'recently_asked_sidebar' %>


      <div class="row-fluid">
        <div class="inline-message"><a href="#all-questions-bg" role="button" class="btn btn-primary btn-large">See all the questions</a>  Or, if you've got your own question
          <a href="#ask-modal" role="button" class="btn btn-ask btn-large" data-toggle="modal">Ask a Question</a>
        </div>
      </div>
  </div>
</div>
