= content_for :title, "#{@question.body} | Questions for New Zealand's political parties - Ask Away"
= content_for :description, "#{@question.user_name} asked the parties, \"#{@question.body}\" Click to see their answers or ask them your own question."

%h1= @question.body
= asked_by_at_time_ago(@question)

- @answers.each do |answer|
  %div
    = answer.rep.name
    = answer.body

%h2= "#{@question.comments_count} comments"
- if user_signed_in?
  = render 'comments/form'
- else
  = link_to 'Log in', new_user_session_path
  to comment

= render partial: 'comments/item', collection: @comments, as: :comment
