= content_for :title, "#{@question.body} | Questions for New Zealand's political parties - Ask Away"
= content_for :description, "#{@question.user_name} asked the parties, \"#{@question.body}\" Click to see their answers or ask them your own question."

.row
  .col-xs-12.col-md-8.col-md-offset-2
    %ul.list-group.list-group--question-page
      %li.list-group-item.question
        .row
          .col-xs-1.question__up-vote
            = link_to question_votes_path(@question), method: :post, id: "vote-for-#{@question.id}" do
              - vote_icon_class = 'fa fa-chevron-up'
              - vote_icon_class += ' fa-chevron-up-voted' if current_user_has_voted_for?(@question)
              %i{class: vote_icon_class}
            %span.question__votes-count=@question.votes_count
          .col-xs-11
            .question__body= @question.body
            .text-detail= asked_by_at_time_ago(@question)

            - @answers.each do |answer|
              %div
                = answer.rep.user_name
                = answer.body
        .row.comments
          .col-xs-12.comments__count
            = "#{@question.comments_count} COMMENTS"
          .col-xs-12.comments__input 
            - if user_signed_in?
              = render 'comments/form'
            - else
              = link_to 'Log in', new_user_session_path
              to comment

            = render partial: 'comments/item', collection: @comments, as: :comment
