%h1= link_to @party.name, @party
%h2= pluralize(@party.pending_invitations.count, 'pending invitation')
%p.reminder.help-block Feel free to copy and paste the invitation link and email it to the person if they are having trouble finding their original invitation email.
%table.table.table-striped.table-responsive#invited-reps-list
  %thead
    %tr
      %th Name
      %th Email
      %th Invitation link
      %th Sent
      %th Cancel
  %tbody
    - @party.pending_invitations.each do |invitation|
      %tr
        %td= invitation.name
        %td= invitation.email
        %td
          = text_field_tag :invitation_link, invitation_url(invitation), :onclick => 'this.select();', class: 'form-control'
        %td= time_ago_in_words(invitation.created_at) + ' ago'
        %td= link_to 'Cancel', invitation_path(invitation), method: :delete, data: {confirm: 'Are you sure you want to cancel the invitation?'}, class: 'btn btn-default'
