.row
  .col-xs-12.col-md-8.col-md-offset-2
    %div{ng_controller: 'PartiesCtrl'}
      .list-group
        .list-group-item
          .media
            .pull-left
              %img.media-object.avatar{src: @party.avatar_url(size: :medium)}
            .media-body
              %h1.list-group-item-heading.party-heading= @party.name
              %p.party-description= @party.description
      .panel.panel-default
        .panel-heading
          %h2.panel-title Spokespeople
        %ul.reps-list.list-group
          - @party.rep_users.each do |rep_user|
            %li.list-group-item
              .media
                %a.pull-left{href: user_path(rep_user)}
                  %img.media-object{src: rep_user.avatar_url }
                .media-body= link_to rep_user.name, rep_user
          - if current_user.try(:can_administer?, @party)
            - @party.pending_invitations.order('created_at ASC').each do |invitation|
              %li.list-group-item
                .media
                  .pull-left
                    %img.media-object{src: @party.avatar_url(size: :small)}
                  .media-body
                    .list-group-item-heading.gray-light #{invitation.name} (invited)
                    .list-group-item-text.text-detail
                      = link_to 'Copy invitation link', '#', data: {toggle: 'modal', target: '#resend-invitation'}, ng_click: "invitation.url = '#{invitation_url(invitation.token)}'; invitation.name = '#{invitation.name}'"
                      |
                      = link_to 'Delete', invitation_path(invitation), method: :delete, data: {confirm: 'Are you sure you want to delete the invitation?'}
            %li.list-group-item
              .list-group-item-heading Invite someone to represent #{@party.name}
              .list-group-item-body
                = simple_form_for([@party, @invitation], html: {class: 'form-inline'}) do |f|
                  = f.input :name, placeholder: 'Full Name', label_html: {class: 'sr-only'}
                  = f.input :email, placeholder: 'Email', label_html: {class: 'sr-only'}
                  = f.submit 'Invite', data: {disable_with: 'Invite'}, class: 'btn btn-primary'

      #resend-invitation.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              %h3.modal-title Copy invitation link
            .modal-body
              = text_field_tag :invitation_link, "{{invitation.url}}", :onclick => 'this.select();', class: 'form-control'
              .help-block Manually email this link to {{invitation.name}} to re-invite them to #{@party.name}.
            .modal-footer
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
