%h1= @party.name

%h2 Reps
%ul.reps-list
- @party.rep_users.each do |rep|
  %li= rep.name
/ Eventually we need reps to be able to add people as well
- if current_user.try(:is_admin?)
  = link_to "Invite reps", new_reps_party_path(@party), class: 'btn btn-default'
  = link_to "#{@party.invitations.count} pending invitations", invited_reps_party_path(@party), class: 'secondary-link'

