%h1= @party.name

%h2 Members
%ul.members-list
- @party.members.each do |member|
  %li= member.name
/ Eventually we need reps to be able to add people as well
- if current_user.try(:is_admin?)
  = link_to "Invite members", new_members_party_path(@party), class: 'btn btn-default'
  = link_to "#{@party.invitations.count} pending invitations", invited_members_party_path(@party), class: 'secondary-link'

