<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span2">
        <%= form_for(:user, url: user_session_path) do |f| %>
          <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
          <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password' %>
          <label class="checkbox">
            <%= f.check_box :remember_me %>
            Remember me
          </label>
          <%= f.submit 'Sign in', class: 'btn btn-primary' %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>