%p= "Hi #{@user.name}"

%p
  We're just letting you know that a representative from the #{@party.name} has
  answered your question
  %em "#{@question.name}"

%p
  #{@rep.name} says
  %blockquote #{@answer.body}

%p
  = link_to "Click here", question_url(@question)
  to see your question
  
