%p= "Hi #{@user.name}!"

%p
  #{@party.name} has answered your question
  %em "#{@question.name}"

%p
  #{@rep.name} (#{@party.name}) said:
  %blockquote #{@answer.body}

%p
  = link_to "Click here to see your question", question_url(@question)
