= semantic_form_for @rep_topic, url: { action: :create_assignment } do |f|
  = f.inputs do
    = f.input :rep, as: :select, collection: @reps
    = f.input :topic, as: :select, collection: Topic.order('name ASC')
  = f.actions
