.row
  .col-xs-12.col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading
        %h1.panel-title Choose a profile picture
      .panel-body
        %ul.list-group
          - @user.avatar_selection_choices.each do |choice|
            -# TODO: refactor into AvatarChoice object
            %li.list-group-item
              %div.media
                %span.pull-left
                  - choice_sliced = choice.slice(:type, :identity).merge(size: :large)
                  = image_tag current_user.specific_avatar_url(choice_sliced), class: 'media-object avatar avatar-choice-icon'
                .media-body.avatar-choice-text
                  - if choice[:selected]
                    #{choice[:name]} picture
                    %span.gray-light.thin= '(selected)'
                  - elsif choice[:type] == 'identity'
                    = link_to "Use your #{choice[:name]} picture", '#'
                  - elsif choice[:type] == 'placeholder'
                    = link_to "Use a random animal picture", '#', class: 'avatar-choice-link'
          %li.list-group-item
            %div.media.comment.answer
              %span.pull-left
                %span.fa.fa-plus.avatar-upload-icon
              .media-body.avatar-choice-text
                = link_to "Upload your own", '#'

    .panel.panel-default
      .panel-heading
        %h1.panel-title Edit your details
      .panel-body
        = render 'form'
