%p= "Hi #{@invitation.name}!"

%p
  = @invitation.inviter.name
  has invited you to answer questions for The
  = @invitation.invitable.name
  on Ask Away - a website where Kiwis ask the parties questions during the elections, and you as an MP can answer them! Click the link below to get started:

%p= link_to invitation_url(@invitation), invitation_url(@invitation), id: 'invitation-link'

%p
  If you have any questions, feel free to email meg@askaway.org.nz. Ask Away is part of Massey University's Design and Democracy Project.
