.answers
  .box-inner
    .row-fluid
      .span6
        %h4= "#{@answer.candidate_name}'s answer:"
      .pull-right
        %a
          =link_to "See other candidates' answers", question_path(@answer.question)
    .row-fluid
      .pull-right.span3
        .profile-pic
          =image_tag answer.candidate_avatar
      .span8
        %h3
          %strong= answer.body
        %p.muted= answer.candidate_authorisation
        %i.icon-thumbs-up
        Like
    - unless @hide_see_comments
      = link_to "See comments", answer_path(answer), class: 'pull-right'