- content_for :title, "#{@answer.candidate_name}'s answer to \"#{@answer.question.body}\" | Ask Away"
- content_for :description, @answer.body
.placeholder
.container.container-wide.row-fluid
  .span9
    .box
      %br/
      = render partial: 'questions/question_header', object: @answer.question, locals: { on_answer_page: true }
    .box.answer
      = render "answers/answer", answer: @answer
  = render partial: 'questions/recently_asked_sidebar'
.placeholder
.placeholder
