<% content_for :description, "Ask Away NZ is an independent platform designed to make it easier for you to get to know the people standing for mayor in Wellington's local body elections." %>
<div id="title">
<div id="banner"></div>


<!-- QUESTION OF THE DAY -->

    <div class="container container-wide">
      <p>Your questions for Wellington's mayoral candidates</p>
    </div>
  </div>
  <div>
</div>
<div id="QOTD-bg">

  <div class="container container-wide">
  <% if @featured_question %>
    <%= render partial: 'questions/featured_question', object: @featured_question %>
  <% end %>


  <!--container -->
</div>
</div>
</div>


<!--  ABOUT  -->

<div class="grey texture" id="about-bg">
  <div class="placeholder"></div>
  <div id="about" class="container container-wide">
      <h4>About</h4>
      <div class="row-fluid">
        <div id="info" class="span6 grey">
          <h2>Post your votes by the 9th of October!</h2>
          <p>You need to send your voting papers in by Wednesday the 9th for them to get to the Council on time. After that, you can drop them directly to the Council or into ballot boxes at public libraries until the 12th of October. You've taken the time to learn about the candidates, so make sure you put your knowledge to use and vote!</p><br>
            <h2>This is an independent platform designed to make it easier for you to get to know the people standing for mayor in Wellington's local body elections.</h2><br>
            <p>Every day the candidates will answer the question with the most votes. See what people have been asking, and up-vote the questions that are important to you.</p>
            <p>If no one’s asked what you want to know, ask it for yourself!</p><br><br>
        </div>
        <div id="contact" class="inline-message span8">
          <p>
            <strong>Want to get in touch?</strong><br>
            Shoot us a line at <a href="mailto:info@askaway.co.nz">info@askaway.co.nz</a><br> 
          </p>
        </div>
      </div>
      <div class="row-fluid grey">
        <div class="span6">
          <h3>When</h3>
          <p>The voting for the day finishes at 7pm, and the candidates answers will be on the site by 8am the following morning.<br>
          Questions will be answered Monday to Friday, but you can still ask and vote over the weekend.</p>
          <p>Remember to send your voting papers in by the 12th October!</p>
        </div>
        <div class="span6">
          <h3>Who</h3>
          <p> This is the honours project of Meg Howie at Massey University’s School of Design. She hopes to expand the site to facilitate ongoing civic engagement at local, regional and national levels of government.<br><br>
          The project is supervised by Patricia Thomas. You can contact her at p.a.thomas@massey.ac.nz.
        </p><br><br>
        </div>
      </div>
    </div>
  <div class="container">
  <div class="inline-message">
    <p>An enormous thank you to the generous people who contributed their time and skills to build the site, and provided their advice and encouragement along the way.
    </p>
    <p>Many of those people came from the <a href="http://www.enspiral.com" target="_blank">Enspiral Network,</a> a collection of enterprises "working together to create a thriving society". Their support and connections have been invaluable.
    </p><br>
    <div class="row-fluid">
      <div class="span4" id="enspiral">
       <%= link_to image_tag("enspirallogo.jpeg"), "http://www.enspiral.com" %>
     </div>
       <div class="span4">
       <%= link_to image_tag("loomio-new-short-logo-1000x313.png"), "https://www.loomio.org/" %>
       </div>
      <div class="span4" id="rabid">
         <%= link_to image_tag("rabid-logo.png"), "http://www.rabid.co.nz/" %>
       </div>
     </div>
  </div>
</div>
<div class="placeholder"></div>
</div>







<!-- Modal -->
<div id="ask-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<%= render partial: 'questions/form' %>
</div>

<!--Thank-you messsage -->


<div id="thanks-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header green">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="ask-modalLabel">Ask a question</h4>
  </div>
  <div class="modal-body">
    <p>Thanks for contributing!<br><br>
  We'll check over your question before we publish it, and won't publish anything offensive or too similar to questions that have already been asked.<br><br>
  Sit tight, and when your question is live on the site we'll send you a link so that you can share it with your family and friends and get them to vote it up.<br><br>
  <div class="modal-footer">
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Close</button>
</div>

  </div>
</div>



<script type="text/javascript">
$(function() {
    $('#aotd').on('mouseenter.collapse.data-api', '[data-toggle=collapse]', function(e) {
        var $this = $(this),
            href, target = $this.attr('data-target') || e.preventDefault() || (href = $this.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, '') //strip for ie7
            ,
            option = $(target).data('collapse') ? 'show' : $this.data()
            $(target).collapse(option)
    })
})
</script>

<script>
$(function (){
   $("#example").popover();
});
</script>

<!-- Facebook likes -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Facebook likes - no social text-->



<!-- Facebook comments -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
if ('ontouchstart' in document) {
    Y.one('body').removeClass('no-touch');
}
</script>

