.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header.row
      .col-xs-12.col-md-8.col-md-offset-2.navbar-col

        %a.navbar-brand{:href => root_path}
          .hidden-xs
            = image_tag "logotype.png", alt: 'Ask Away', class: 'navbar-brand-img'
          .visible-xs-inline-block
            = image_tag "logonotype.png", alt: 'Ask Away', class: 'navbar-brand-img'

        .navbar-actions
          %ul.navbar-user-actions.list-inline.pull-left
            %li
              = link_to 'About', about_path, class: 'btn btn-link navbar-btn'

        .navbar-actions
          %ul.navbar-user-actions.list-inline.pull-right
            - if current_user
              %li
                %div
                  = render 'ask_question_button'
              %li.dropdown
                %a.user-settings-dropdown.dropdown-toggle{href: '#', :'data-toggle' => 'dropdown'}
                  %img.avatar{src: current_user.avatar_url(size: :xsmall)}
                  %b.caret
                %ul.dropdown-menu.dropdown-menu-right
                  %li
                    = link_to user_path(current_user) do
                      %span.fa.fa-user.dropdown-icon
                      My profile
                  %li
                    = link_to edit_users_path do
                      %span.fa.fa-gear.dropdown-icon
                      Account settings
                  %li= link_to 'Log out', destroy_user_session_path, method: :delete
            - else
              %li
                %button.btn.btn-link.navbar-btn{:'data-toggle' => 'modal', :'data-target' => '#login-modal', :'type' => 'button'} Log in
              %li
                %div
                  = render 'ask_question_button'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Trending', root_path
        %li= link_to 'Newest', new_questions_path
        - if current_user.try(:is_rep?)
          %li= link_to current_user.rep.party.name, current_user.rep.party

- flash.each do |name, msg|
  - flash_class = 'alert alert-flash'
  - flash_class += ' alert-success' if name == 'notice'
  - flash_class += ' alert-warning' if name == 'alert'
  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2.alert-flash-col
        %div{class: flash_class}
          %button{type: 'button', class: 'close', :'data-dismiss' => 'alert', :'aria-hidden' => 'true'} &times;
          %div= msg

