.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
        %i.fa.fa-bars
      %a.navbar-brand{:href => root_path}
        .hidden-xs
          = image_tag "logotype.png", alt: 'Ask Away', class: 'navbar-brand-img'
        .visible-xs-inline-block
          = image_tag "logonotype.png", alt: 'Ask Away', width: 31, height: 30, class: 'navbar-brand-img navbar-brand-img-small img-responsive'
    %nav.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'About', about_path
      %ul.nav.navbar-nav.navbar-right
        - unless current_user
          %li
            %a{:href => '', :'data-toggle' => 'modal', :'data-target' => '#login-modal'} Log in
        %li
          = render 'ask_question_button'
        - if current_user
          %li.hidden-xs
            %a.user-settings-dropdown.dropdown-toggle{href: '', :'data-toggle' => 'dropdown'}
              %img.avatar{src: current_user.avatar_url(size: :xsmall)}
              %b.caret
            %ul.dropdown-menu.dropdown-menu-right
              = render 'user_links'
      - if current_user
        %ul.nav.navbar-nav.visible-xs
          = render 'user_links'
