
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ask Away" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="fb:admins" content="1059799116"/>
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'Ask Away' %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= request.original_url %>"/>
    <meta property="og:description" content="<%= yield(:description) %>"/>
    <meta property="og:image" content="<%= image_url 'square-logo.png' %>"/>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <style type="text/css">
      body {
        padding-top: 25px;
        padding-bottom: 40px;
      }
    </style>

    <%= javascript_include_tag "application" %>

    <!-- fonts added by meg-->
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../favicon.ico">

<!--   <link rel="icon"
      type="image/png"
      href="/AA.png"> -->
  </head>

  <body data-spy="scroll" data-target=".navbar">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=499857166774809";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".main-menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Ask Away</a>
          <div class="nav-collapse main-menu">
            <ul class="nav">
              <% if Rails.env.development? %>
                <li class="<%= "active" if params[:action] == "styles" %>"><a href="/styles">Styles</a></li>
              <% end %>
              <li class="<%= "active" if params[:action] == "another_page" %>"><a href="/">Home</a></li>
              <li class="<%= "active" if params[:controller] == "questions" %>"><a href="/questions">All Questions</a></li>
              <li><a href="#about-bg">About</a></li>
            </ul>
            <div id="share">
              <div class="fb-like pull-right" data-href="http://askaway.co.nz" data-width="450" data-colorscheme="dark" data-layout="button_count" data-show-faces="false" data-send="false"></div>
              <a href="https://askaway.co.nz" class="twitter-share-button pull-right" data-text="Got a question for Wellington's mayoral candidates?" data-via="AskAwayNZ">Tweet</a>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="grey">
  <% flash.each do |name, msg| -%>
    <div class="alert-container">
      <%= content_tag :div, msg, class: 'alert' %>
    </div>
  <% end %>
  <%= yield %>
</div>
      <hr>
<div class="container">
      <footer>
      <%= image_tag 'Massey-logo.jpg' %>
      <p class="pull-right muted">&copy; Meg Howie 2013</p>
      </footer>

</div><!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
