!!!
%html(lang="en" xmlns:fb= "http://ogp.me/ns/fb#" ng-app='askaway')
  %head
    = render 'head'
  %body{class: "#{controller.controller_path} #{controller.action_name}"}
    = render 'navbar'
    = render 'flash'

    .container.content-container
      = yield

    - unless user_signed_in?
      #login-modal.modal.fade
        = render 'login'
      #registration-modal.modal.fade
        = render 'registration'
      #email-login-modal.modal.fade
        = render 'email_login'
    = render 'footer'

    // Google Analytics
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44134501-1', 'auto');
      ga('send', 'pageview');

    = render 'user_voice'

    // Facebook
    <div id="fb-root"></div>
    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "#{ENV['FACEBOOK_API_KEY']}",
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
