
<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ask Away" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="fb:admins" content="1059799116"/>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <style type="text/css">
      body {
        padding-top: 25px;
        padding-bottom: 40px;
      }
    </style>

    <%= javascript_include_tag "application" %>

    <!-- fonts added by meg-->
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">

<!--   <link rel="icon"
      type="image/png"
      href="/AA.png"> -->
  </head>

  <body data-spy="scroll" data-target=".navbar">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=499857166774809";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="navbar navbar-fixed-top">
      <!-- <img src="bannergreen.png" id="header-img"> -->
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Ask Away</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/styles">Styles</a></li>
              <li><a href="/">Home</a></li>
              <li><a href="/questions">All Questions</a></li>
              <li><a href="#about-bg">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


      <%= yield %>

      <hr>
<div class="container">
      <footer>
      <%= image_tag 'Massey-logo.jpg' %>
      <p class="pull-right muted">&copy; Meg Howie 2013</p>
      </footer>

</div><!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
